body{
    background-color: lightblue;

}

h1{
    color: black;
    text-align: center;
    font-size: 72px;
    font-weight : bold;
}

h2{
    color: navy;
    text-align: center;
    font-size: 60px;
    font-weight : bold;
    text-decoration: underline;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h3{
    color: darkred;
    text-align: left;
    font-size: 20px;
}